<a href="https://colab.research.google.com/github/thanunjayramaib4079-ThanunjayRam/2025-26-4079-THANUNJAYRAM-AI-B-DS/blob/main/03_02_2026.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
set1={1,2,3,10,11}
set2={4,5,6,7,8}
print('union:',set1|set2)
print('intersection:',set1&set2)
print('set1-set2:',set1-set2)
print('symmetric difference:',set1^set2)

union: {1, 2, 3, 4, 5, 6, 7, 8, 10, 11}
intersection: set()
set1-set2: {1, 2, 3, 10, 11}
symmetric difference: {1, 2, 3, 4, 5, 6, 7, 8, 10, 11}

In [2]:
list=[1,2,3,4,5]
list.append(8)
print("list after append",list)
list.remove(3)
print("list after remove",list)
print("length of list",len(list))
print("silce index 1 to 3",list[1:4])

list after append [1, 2, 3, 4, 5, 8]
list after remove [1, 2, 4, 5, 8]
length of list 5
silce index 1 to 3 [2, 4, 5]

In [3]:
tuple=(1,2,3,4)
tuple1=("apple","cherry")
combined_tuple=tuple+tuple1
print("combined tuple",combined_tuple)
print("length of tuple",len(tuple))
print("slice from index 1 to 3",combined_tuple[1:4])

combined tuple (1, 2, 3, 4, 'apple', 'cherry')
length of tuple 4
slice from index 1 to 3 (2, 3, 4)

In [5]:
student={
    'name':'Thanunjay',
    'rollno':'79',
    'course':'CSA'}
print('Dictionery items:')
for key,value in student.items():
    print(key,':',value)

Dictionery items:
name : Thanunjay
rollno : 79
course : CSA